.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 30px;
}


form div {
    padding: 5px 5px 5px 5px;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}

.subForm {
    width: 100%;
    display: inline-grid;
}

.buttons {
    padding: 5px;
}

button {
    margin-bottom:30px;
    width: 25%;
}

.div-button{
    justify-content: center;
}

@media (max-width: 768px) {
    .div-flex {
        padding: 10px;
    }

    
    form {
        display: inline-grid;
        width:  90%;
        align-self: center;
    }

    button{
        width: 60%;
    }
  }